* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
}

.title {
  font-family: cursive;
  font-size: 2rem;
  color: yellowgreen;
  cursor: default;
  transition: 0.5s;
}

.title:hover {
  text-shadow: 10px 10px 10px darkred;
  color: darkred;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px;
  background-color: aliceblue;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 1.2rem;
  color: yellowgreen;
}

nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  color: darkred;
  transition: 0.5s;
  text-shadow: 10px 10px 10px darkred;
}

.login {
  font-size: 1.5rem;
  color: yellowgreen;
  cursor: pointer;
}

.login:hover {
  color: darkred;
  transition: 0.5s;
  text-shadow: 10px 10px 10px darkred;
}

.nav-log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  gap: 50px;
} 