.parent{
    border: 5px solid black;
    width: 1000px;
    height: 800px;
    display: grid;
    grid-template-columns: 200px 300px 400px 500px;
    grid-template-rows: 200px 300px 400px;
}

.child{
    width: 100px;
    height: 100px;
    background-color: green;
}

.parent-div{
    border: 5px solid black;
    width: 1000px;
    height: 800px;
    display: grid;
    gap: 20px;
    grid-template-rows: 100px 100px 100px;
}