input[type="text"]{
    border: 3px dotted red;
    border-radius: 10px;
}

input[type="password"]{
    border: 5px dashed blue;
    border-radius: 5px;
}

input[type="email"]{
    border: 10px solid green;
    border-radius: 20px;
}