.abc1{
    font-family: Arial, Helvetica, sans-serif;
}

.abc2{
    font-family: 'Times New Roman', Times, serif;
}

.abc3{
    font-family: cursive;
}

.abc4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}