body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square{
    width: 150px;
    height: 150px;
    background-color: blue;
    transition: 4s ease-out;
    transition-delay: 2s;
}

.square:hover{
    transform: rotate(2880deg) scale(2);
    background-color: red;
    transition-delay: 2s;
}