body{
    display: flex;
    justify-content: center;
}

.circle{
    width: 200px;
    height: 200px;
    background-color: red;
    border: none;
    border-radius: 50%;
    animation-name: bounce;
    animation-duration: 3s;
}

@keyframes bounce{
    from{
       transform: translatey(0px);
    }

    to{
        transform: translateY(500px);
    }
}