@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kumbh+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", serif;
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 400px;
    padding: 70px;
    border: none;
    border-radius: 15px;
}

.main-div > img{
    border: none;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    bottom: 50px;
}

.name{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 25px;
}

.num{
    opacity: 40%;
    padding-left: 7px;
}

.london{
    opacity: 40%;
    position: relative;
    bottom: 15px;
}

.stats{
    display: flex;
    justify-content: space-between;
    width: 300px;
    position: relative;
    top: 50px;
}

hr{
    width: 154%;
    position: relative;
    top: 15px;
    opacity: 50%;
}